<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>

</body>

<div align="center">
    <form action="/login/login" >
    <table>
        <tr>
            <td>Username:</td>
            <td><input name="username" type="text" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input name="password" type="password" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="LOGIN" /></td>
        </tr>
    </table>
    </form>
</div>
</html>